<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
      
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
        <body>
                <div class="col-sm-2 col-lg-4"></div>
                <div ng-controller="RegCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page" ng-cloak>
                        <h1> Registration </h1>
                        <form name="registrationForm" ng-submit="ctrl.registerUser()" novalidate>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" required ng-model="ctrl.user.email" />
                                    <div class ="error form-hint" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
                                        <div class = "error form-hint" data-ng-show="registrationForm.email.$error.required">
                                            <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                                    </div>
                                            <div class = "error form-hint" data-ng-show="registrationForm.email.$error.email">
                                                <span class = "glyphicon glyphicon-alert"></span> Email is invalid  
                                            </div>
                                        </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.user.password" minlength="8" required ng-pattern = "/^(?=.*\d)(?=.*[$#@])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" />
                                    <div class ="error form-hint" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
                                        <div class = "error form-hint" data-ng-show="registrationForm.password.$error.required">
                                            <span class="glyphicon glyphicon-alert"></span> Password is required
                                        </div>
                                            <div class = "error form-hint" data-ng-show="registrationForm.password.$error.minlength">
                                                <span class = "glyphicon glyphicon-alert"></span> Password must be at least 8 characters long
                                            </div>
                                            <div class = "error form-hint" data-ng-show="registrationForm.password.$error.pattern">
                                                <span class = "glyphicon glyphicon-alert"></span> Password must include a number, a special character(@,#,$) and both upper and lower cases.
                                            </div>
                                           
                                </div>
                                <div class="form-group">
                                    <label for="confirm_password">Confirm Password</label>
                                    <input id="confirm_password" name="confirm_password" type="password" class="form-control" ng-model="ctrl.user.confirm_password" required ng-required = "ctrl.user.password" />
                                    <div class ="error form-hint" data-ng-show="registrationForm.confirm_password.$touched || registrationForm.$submitted">
                                    <div class = "error form-hint" data-ng-show="registrationForm.confirm_password.$error.required">
                                        <span class="glyphicon glyphicon-alert"></span> Password is required
                                    </div>
                                        <div class = "error form-hint" data-ng-show="ctrl.user.password != ctrl.user.confirm_password ">
                                            <span class = "glyphicon glyphicon-alert"></span> Password do not match
                                        </div>
                                </div> 
                            </div>
                                <div class="form-group">
                                    <label for="fullname">Full Name</label>
                                    <input id="fullname" name="fullname" type="text" class="form-control" ng-model="ctrl.user.fullname" required/> 
                                    <div class ="error form-hint" data-ng-show="registrationForm.fullname.$touched || registrationForm.$submitted">
                                        <div class = "error form-hint" data-ng-show="registrationForm.fullname.$error.required">
                                            <span class="glyphicon glyphicon-alert"></span>  Please fill in your name
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gender" >Gender</label>
                                    <br/>
                                    <input id="gender" name="gender" ng-model = "ctrl.user.gender" type="radio" value="Male" ng-model="ctrl.user.gender" required />  Male 
                                    <br/>
                                    <input id="gender" name="gender" ng-model = "ctrl.user.gender" type="radio" value="Female" ng-model="ctrl.user.gender" />  Female 
                                    <br/> 
                                 
                                </div>
                    
                                <div class="form-group">
                                    <label for="dateOfBirth">Date of Birth</label>
                                    <input  id="dateOfBirth"
                                            name="dateOfBirth"
                                            type="date"
                                            class="form-control"
                                            ng-model="ctrl.user.dateOfBirth" required />
                                    <div class="error form-hint"
                                        data-ng-show="registrationForm.dateOfBirth.$touched || registrationForm.$submitted">
                                        <div data-ng-show="registrationForm.dateOfBirth.$error.required">
                                            <span class="glyphicon glyphicon-alert"></span> Date of Birth is mandatory.
                                        </div>
                                        <div data-ng-show="ctrl.ageValid(ctrl.user.dateOfBirth) == false">
                                            <span class="glyphicon glyphicon-alert"></span> You must be at least 18 years old.
                                        </div>
                    
                                   </div>
                                </div>
                                    
                    
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input id="address" name="address" type="text" class="form-control" ng-model="ctrl.user.address" required />
                                    <div class ="error form-hint" data-ng-show="registrationForm.address.$touched || registrationForm.$submitted">
                                        <div class = "error form-hint" data-ng-show="registrationForm.address.$error.required">
                                            <span class="glyphicon glyphicon-alert"></span> Please fill in the address
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nationality">Nationality</label>
                                    <select class="form-control" id="nationality" ng-model="ctrl.user.nationality" required/>
                                    <div class ="error form-hint" data-ng-show="registrationForm.nationality.$touched || registrationForm.nationality.$error.required"><span class="glyphicon glyphicon-alert"></span> Please do not leave this field out</div>
                                    <option value="Singaporean">Singaporean</option>
                                    <option value="Malaysian">Malaysian</option>
                                    <option value="Thailand">Thai</option>
                                </select>
                                </div>
                                <div class="form-group">
                                    <label for="contactNumber">Contact number</label>
                                    <input id="contactNumber" name="contactNumber" type="text" class="form-control" ng-model="ctrl.user.contactNumber" minlength="2"  ng-pattern="/^[0-9 .+()-]{1,}$/" required />
                                    <div class ="error form-hint" data-ng-show="registrationForm.contactNumber.$touched || registrationForm.$submitted">
                                        <div data-ng-show="registrationForm.contactNumber.$error.required ">
                                            <span class="glyphicon glyphicon-alert"></span> This field is required
                                        </div>
                                            <div data-ng-show="registrationForm.contactNumber.$error.pattern">
                                                <span class = "glyphicon glyphicon-alert"></span>  Your contact has invalid characters 
                                            </div>
                                        </div> 
                                </div>
        
                                
                                <div class="form-group">
                                    <hr/>
                                   
                                <!-- Trigger the modal with a button ng-disabled="registrationForm.$invalid"-->
        <input id="submit" name="submit" type="submit" button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-disabled="registrationForm.$invalid" ></button>
        <div data-ng-show="registrationForm.$valid">
                <h2>All fields are completed </h2>
            </div>
            <div data-ng-show="registrationForm.$dirty && registrationForm.$invalid ">
                    <h2>Please fill in all details </h2>
                </div>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registration Form</h4>
              </div>
              <div class="modal-body">
                <p>Thank you very much!</p>
                <p>Below are your details for the registration</p>
                <p><i class="fa fa-envelope-square" aria-hidden="true"></i> {{ ctrl.displayUser.email }}</p>
                <p><i class="fa fa-user-circle" aria-hidden="true"></i> {{ ctrl.displayUser.fullname }}</p>
                <p><i class="fa fa-user" aria-hidden="true"></i> {{ ctrl.displayUser.gender }}</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> {{ ctrl.displayUser.contactNumber }}</p>
                <p><i class="fa fa-flag" aria-hidden="true"></i> {{ ctrl.displayUser.nationality }} </p>
                <p><i class="fa fa-address-card" aria-hidden="true"></i> {{ ctrl.displayUser.address }}</p>
                 <p><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{ctrl.displayUser.dateOfBirth | date : "dd-MM-yyyy" }} </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
                            </form>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>